@charset "utf-8";
/* Common */
html {overflow-x: hidden;}
html, body {width: 100%; height: 100%;}
body {
   background: #F5F5EA;font-family: 'NanumSquareNeoBold';
   color: #403522;font-size: 20px;
}
/* 커스텀 커서 스타일 정의해주기 */
/* .cursor {
   width: 3rem;height: 3rem;
   border-radius: 50%;
   position: absolute;transform: translate(-50%, -50%);
   z-index: 9999;
   pointer-events: none;
   background-color: #9dde83;
   background-image: url(../img/cursor1.png);
   object-fit: cover;
} */
::selection {
   background-color: #fffc68;
}
button {cursor: pointer;}

h2 {
   position: absolute;left: 35px;top: 26px;
   font-size: 70px;line-height: 0;
   font-family: 'Cafe24ClassicType-Regular';
}
nav {font-family: 'Cafe24ClassicType-Regular';}
.section {height: 100vh;}
.title {position: absolute;left: 6%;top: 10%;}
.main_header {
   display: flex;align-items: center;
   position: relative;z-index: 100;
}
.main_header .menu ul {
   position: fixed;right: 6%;top: 10%;
   display: flex;gap: 55px;
   font-size: 30px;
}
.screen_out {
   display: block;overflow: hidden;
   width: 0;height: 0;
}

/* goTop 버튼 */
.btn_goTop {
   display: flex;align-items: center;justify-content: center;
   position: fixed;right: 50px;bottom: 50px;z-index: 999;
   width: 79px;height: 79px;
   background: #F9B8B9;border-radius: 50%;color: #FFF;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   font-size: 50px;text-align: center;
}

/* 애니메이션 */
@keyframes onePageWidth {100% {width: 500px;}}
@keyframes onePageWidth2 {100% {width: 530px;}}
@keyframes aboutWidth {100% {width: 333px;}}
@keyframes skillWidth {100% {width: 300px;}}
@keyframes prWidth {100% {width: 615px;}}
@keyframes dsWidth {100% {width: 730px;}}
@keyframes cnWidth {100% {width: 600px;}}

@keyframes Rotate {
   0% {
      transform: rotate(0deg)
   }
   50% {
      transform: rotate(180deg)
   }
   100% {
      transform: rotate(360deg)
   }
}

.title div {
   animation: none;
   /* 기본적으로 애니메이션이 없음 */
}

/* onePage */
#onePage {
   position: relative;
}
#onePage h2 {
   /* position: absolute;left: 35px;top: 26px; */
}
#onePage .title .pf_bg.animate {
   position: relative;
   /* width: 500px; */
   animation: onePageWidth 1s forwards;
   height: 45px;
   /* background: #B6D8FF; */
   background-image: url(../img/1.png);
}
#onePage .pf_name {position: absolute;right: 6%;bottom: 10%;}
#onePage .pf_name .name_bg {
   position: relative;
   width: 530px;
   height: 45px;
   background: url(../img/name.png);
}
/* #onePage에서 main_header 숨기기 */
#onePage .main_header {display: none;}
#onePage .ul_bg {
   position: absolute;left: 7%;top: 35%;
   width: 1500px;height: 500px;
   background-image: url(../img/ul.png);
   background-repeat: no-repeat;
}
#onePage #gnb {
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -50%);
}
#onePage #gnb ul {
   display: flex;gap: 80px;
}
#onePage #gnb li {
   display: flex;align-items: center;justify-content: center;
   width: 295px;height: 295px;
   background: #EBEBD0;
   border-radius: 50%;
   box-shadow: -12px 0px 0px #E1E1C2;
   font-size: 36px;
   transform: scale(0); /* 시작 시 크기 0 */
   opacity: 0; /* 시작 시 투명 */
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#onePage #gnb li.active {
   transform: scale(1); /* 크기가 100%로 커짐 */
   opacity: 1; /* 투명도 100% */
}
#onePage #gnb li {transition: all 0.3s;}
#onePage #gnb li:nth-child(1):hover {background: #B6D8FF;}
#onePage #gnb li:nth-child(2):hover {background: #FFD2D3;}
#onePage #gnb li:nth-child(3):hover {background: #FFE1A1;}
#onePage #gnb li:nth-child(4):hover {background: #CBBBD6;}
#onePage .one_under {
   display: flex;align-items: flex-end;gap: 20px;
   position: absolute;left: 6%;bottom: 9%;
   font-size: 23px;
}
#onePage .contact_left {
   display: flex;flex-direction: column;gap: 12px;
   font-family: 'NanumSquareNeoExtraBold';
}
#onePage .contact_left strong {font-size: 25px;}
#onePage .contact_right {
   display: flex;flex-direction: column;gap: 12px;
}

/* ABOUT */
#about {
   position: relative;
   font-size: 20px;
   background-color: #F2F0E6;
   /* background-color: #F4ECE3; */
}
#about .ab_bg.animate { /* 스크롤 내리고 화면 나올 때 실행 돼야 함 */
   position: relative;
   animation: aboutWidth 1s forwards;
   height: 45px;
   background: url(../img/about.png);
}
#about .hello {
   position: absolute;left: 150px;top: 210px;z-index: 99;
   width: 125px;height: 125px;
   background-image: url("../img/rotate2.png");
   background-repeat: no-repeat;
   background-size: contain;
   animation: Rotate 5s infinite;
}
#about .profile_box {
   display: flex;align-items: center;justify-content: center;
   position: absolute;left: 50%;top: 57%;
   transform: translate(-50%, -50%);
   width: 80%;height: 525px;
   background: #FFF;border-radius: 40px;
   box-shadow: 10px 10px 10px rgba(64, 53, 34, .1);
   border: 3px solid #e2ded8;
}
#about .profile_write {
   display: flex;flex-direction: column;justify-content: center;
   align-items: flex-start;gap: 30px;
   padding-left: 130px;
   height: 390px;
   border-left: 1px solid #bdb9b2;
}
#about .profile_img {
   overflow: hidden;margin-right: 130px;
   width: 310px;height: 390px;border-radius: 40px;
   border: 3px solid #e2ded8;
}
#about .profile_img img {object-fit: cover;}
#about .profile_notice {display: flex;gap: 40px;}
#about .profile_left, .profile_right {
   display: flex;flex-direction: column;gap: 14px;
}
#about .profile_text {
   display: flex;flex-direction: column;gap: 16px;
   line-height: 33px;
}
#about .profile_text strong {font-size: 25px;font-family: 'NanumSquareNeoExtraBold';}

/* SKILL */
#skill {
   position: relative;
   font-size: 20px;
   background-color: #F2F0E6;
}
#skill .sk_bg.animate { /* 스크롤 내리고 화면 나올 때 실행 돼야 함 */
   position: relative;
   animation: skillWidth 1s forwards;
   height: 45px;
   background: url(../img/skill.png);;
}
#skill .sk_line {
   position: absolute;top: 60%;
   width: 100%;height: 1px;
   border: 1px dashed #403522;
}
#skill .skill_name ul {
   display: flex;
   white-space: nowrap; /* 줄바꿈 방지 */
   position: absolute;top: 29%;
   width: auto; /* 슬라이더 전체 너비를 유동적으로 설정 */
}
#skill .skill_name li {
   display: flex;flex-direction: column;gap: 35px;
   justify-content: center;align-items: center;
   flex: 0 0 auto; /* li 요소들이 한 줄에 나란히 배치되도록 설정 */
   margin: 0 50px;
   width: 600px;
}
#skill .skill_name p {
   display: flex;
   justify-content: center;align-items: center;
   width: 145px;height: 145px;
   background: #E9BC5A;border-radius: 50%;
   color: #FFF;text-align: center;
}
#skill .skill_name span {
   display: flex;justify-content: center;align-items: center;
   width: 420px;height: 180px;
   background: #FFF;border-radius: 30px;
   text-align: center;line-height: 30px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* WEB PROJECT */
#webProject {
   position: relative;
   background: #E7E9F0;
}
#webProject .web_bg.animate {
   position: relative;
   animation: prWidth 1s forwards;
   height: 45px;
   background: url(../img/web.png);
}
#webProject .web_list {
   display: flex;align-items: center;gap: 60px;
   position: absolute;left: 50%;top: 57%;
   transform: translate(-50%, -50%);
}
#webProject .web_list li {
   overflow: hidden;
   width: 430px;height: 430px;
   transform: translateY(-10%);
   background: #CBBBD6;border-radius: 40px;
   border: 5px solid #FFF;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s;
}
#webProject .web_list li {
   opacity: 0;
   transform: translateY(100%);
   transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
#webProject .web_list.active li {
   opacity: 1;
   transform: translateY(0);
}
#webProject .web_list li:nth-child(odd) {
   transform: translateY(12%);
}
#webProject .web_list li img {
   width: 100%;height: 100%;
   object-fit: cover;
}
#webProject .web_list p {
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Cafe24ClassicType-Regular';
   font-size: 29px;
   color: #FFF;text-shadow: 0px 0px 10px #333;
}
#webProject .web_list li::before {
   content: "";display: block;
   position: absolute;
   width: 100%;height: 100%;
   background: rgba(0, 0, 0, 0.2);
   transition: all 0.2s;
}
#webProject .web_list .list_on {
   display: flex;flex-direction: column;
   align-items: center;justify-content: space-between;
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -50%);
   width: 300px;height: 300px;line-height: 36px;
   font-size: 24px;
   font-family: 'NanumSquareNeoExtraBold';
   opacity: 0;
}
#webProject .web_list .list_on strong {
   font-family: 'NanumSquareNeoHeavy';
   font-size: 28px;
}
#webProject .web_list .list_btn {
   display: flex;gap: 16px;
}
#webProject .web_list .list_btn button {
   padding: 12px 24px;
   background: #9A9CC2;border-radius: 15px;
   color: #FFF;
   /* font-family: 'NanumSquareNeoExtraBold'; */
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#webProject .web_list li:hover {transform: translateY(10%);}
#webProject .web_list li:nth-child(odd):hover {transform: translateY(-10%);}
#webProject .web_list li:hover::before {
   background: #CFD1ED;
}
#webProject .web_list li:hover p {display: none;}
#webProject .web_list li:hover .list_on {opacity: 1;}

/* DESIGN PROJECT */
#dsProject {
   position: relative;
   background: #E7E9F0;
   display: flex;flex-direction: column;
   justify-content: center;
}
#dsProject .ds_bg.animate {
   position: relative;
   animation: dsWidth 1s forwards;
   height: 45px;
   background: url(../img/design.png);
}
#dsProject .ds_content {margin-top: 120px;}
#dsProject .swiper-wrapper li {
   overflow: hidden;
   /* flex-shrink: 0;*/
   width: 430px;height: 430px;
   border: 5px solid #FFF;
   border-radius: 40px;
}
#dsProject .swiper-wrapper li img {
   width: 100%;height: 100%;
   object-fit: cover;
}

#dsProject .popup {
   display: none;
   position: fixed;left: 0;right: 0;top: 0;
   z-index: 9999;height: 100%;
   text-align: center;overflow: auto;
}
#dsProject .popup img {
   margin: auto;
}
#dsProject .popup button {
   position: fixed;right: 3%;top: 5%;
   width: 80px;height: 80px;
   background: #050505;border-radius: 50%;color: #FFF;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   font-size: 50px;text-align: center;
}
.popup {background: rgba(231, 233, 240, 0.7);}
.popup.g2 img {height: 100vh;}
.popup.g3 img {padding-top: 100px;width: 600px;height: 798px;}

#dsProject .swiper-wrapper a::before {
   content: "";display: block;
   position: absolute;
   width: 100%;height: 100%;
   background: rgba(0, 0, 0, 0.3);
   transition: all 0.3s;
}
#dsProject .swiper-slide-active a::before {
   background: rgba(0, 0, 0, 0);
}
#dsProject .ds_text {
   display: flex;flex-direction: column;gap: 20px;
   justify-content: center;align-items: center;
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   color: #FFF;text-shadow: 0px 0px 5px #333;
}
#dsProject .ds_text strong {
   font-size: 40px;font-family: 'NanumSquareNeoExtraBold';
}
#dsProject .progress_wrap {
   display: flex;justify-content: space-between;align-items: center;
   /* position: absolute;left: 50%; */
   /* top: 57%; */
   position: relative;z-index: 10;
   width: 1040px;margin: auto;
}
#dsProject .progress_wrap>div {
   /* cursor: pointer; */
   position: absolute;top: -245px;
}
#dsProject .progress_wrap>div:first-child {left: 0;}
#dsProject .progress_wrap>div:last-child {right: 0;}
#dsProject .progress_wrap i {
   font-size: 60px;color: #AAA;
   background: #FFF;border-radius: 50%;
}
#dsProject .swiper-pagination {
   display: flex;gap: 8px;
   align-items: center;justify-content: center;
   position: absolute;left: 50%;bottom: 12%;
   transform: translateX(-50%);
}
.swiper-pagination span {
   width: 12px;height: 12px;
   background: #ced0d8;opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
   width: 14px;height: 14px;
   background: #B0B2C0;
}

/* CONTACT */
#contact {
   position: relative;
   background: #E7E9F0;
}
#contact .cn_bg.animate {
   position: relative;
   animation: cnWidth 1s forwards;
   height: 45px;
   background: url(../img/contact.png);
}
#contact .util {
   position: absolute;left: 50%;top: 50%;z-index: 99;
   transform: translate(-50%, -50%);text-align: center;
}
#contact .util ul {
   display: flex;align-items: center;justify-content: center;
   gap: 64px;
}
#contact .util li {
   display: flex;align-items: center;justify-content: center;
   gap: 12px;flex-shrink: 0;
}
#contact .util i {
   font-size: 42px;color: #A1CFFF;
}
#contact .util .round {
   width: 13px;height: 13px;border-radius: 50%;
   background: #FFE0B4;
}

@keyframes flow {
   from {transform: translateX(0);}
   to {transform: translateX(-100%);}
}
.thank_wrap {
   overflow: hidden;
}
.thank_content {
   display: flex;
   position: absolute;left: 50%;top: 50%;
   transform: translate(-50%, -50%);height: 300px;width: 100%;
}
.thank_content img {
   padding-right: 50px;
   animation: flow 15s linear infinite;
   opacity: 0.6;
}