
*, *::before, *::after {
   box-sizing: border-box;
}
* {
   margin: 0;padding: 0;
   line-height: 1;
   font: inherit;color: inherit;
}
body {
   -webkit-font-smoothing: antialiased;
}
a {
   text-decoration: none;
}
img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}
input, button, textarea, select {
   outline: none;
   border: none;
}
button {
   background: none;
}
p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
}
ol, ul, li {
   list-style: none;
}
table {
   border-collapse: collapse;
}